.containerbox{
    
    
    display: flex;
        
}
body {
    overflow: visible !important;
    background-color: #ffffff;
  }
.main-img{
  padding: 25px;  
  
  
}

.main-form{
    padding: 20px !important;
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    border: 1px solid #ccc;
    
    box-shadow: 10px 10px 13px -6px rgba(0,0,0,0.56);
    -webkit-box-shadow: 10px 10px 13px -6px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 10px 13px -6px rgba(0,0,0,0.56);
  }
  .main-container{
    margin-top: 20px;
  }

  .typedtext{
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .button{
    background-color: #6c55ff;
    font-size: 1.5rem;
    font-family: Poppins;
    font-style: bold;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    transition: all 0.5s ease;
    box-shadow:inset 0px 1px 0px 0px #837dff;
  }
  .button:hover{
    background:#776aff

  }
