@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* .navbar {
	font-family: 'Poppins', sans-serif;
	padding:20px 0;
  }

.navbar-nav {
	text-align: right;
  }

.navbar-brand{
	font-size: 30px;
	font-weight: 500;
    
	text-transform: capitalize;
} */
.nav-item{
	
	
}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	overflow-x: hidden;
	background-color: #ffffff;
	line-height: 1.5;
}
.navbar{
	background-color: #6c55ff !important;
	padding:10px 0px;
	transition: all 0.5s ease;
	
	
}
.navbar.navbar-shrink{
	box-shadow: 0 10px 10px rgba(0,0,0,0.1);
	background-color: var(--main-color);
	padding: 10px 10px;
	
}
.navbar > .container{
	padding:0 10px;
	width: 100 px !important;
	
}
.navbar .navbar-brand{
	font-size: 30px;
	font-weight: 500;
	text-transform: capitalize;
	margin: auto;
	margin-left: 200px;
	
}

.navbar .nav-item{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin-left: 40px;
	padding: 10px 10px;
	
	
}
.navbar .nav-item .nav-link{
	color: #ffffff;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 400;
	padding:5px 0;
	position: relative;
}
.navbar .nav-item .nav-link::before{
	content: '';
	position: absolute;
	left:0;
	bottom:0;
	right:0;
	height: 1px;
	background-color: #ffffff;
	transition: all 0.5s ease;
	transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before{
	transform: scale(1);
}
.navbar .nav{
	
	margin-right: 150px;
}
.container{
	margin-left: auto;
	margin-right: auto;
}
